@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: Roboto;
    padding: 0px;
    margin: 0px;
 }
body{
    background: rgba(0, 0, 0,0.7) url('./Images/background.jpg');
    background-size: 100%;
    background-blend-mode:hue;
}
.bottom{
    text-decoration: none;
}